@using test_work_fin_12.ViewModels
@model LoginVM

<div class="ibox-content m-b-sm border-bottom marginmy">
    <div class="col-md-8 col-md-offset-2" style="margin-left: 178px;">
        <h2>Пожалуйста, войдити в систему</h2>
        <form asp-controller="User" asp-action="Login" method="post" class="form-horizontal" role="form">
            <h4>Введите свои данные</h4>
            <hr />
            <input type="hidden" asp-for="ReturnUrl" />
            <div class="form-group">
                <label asp-for="UserName" class="col-md-2 control-label"></label>
                <div class="col-md-12">
                    <input asp-for="UserName" id="userName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="col-md-2 control-label"></label>
                <div class="col-md-12">
                    <input asp-for="Password" id="userPassword" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group pull-right formPullRightButton">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" id="loginBtn" class="btn btn-w-m btn-success btnmy" 
                    style="margin-top: 15px;" value="Log in" />
                </div>
            </div>
        </form>
    </div>
</div>

